<h1>Cart items</h1>
<br>
<br>
<div class="container">
  <div class="rows">
    <table class="table table-primary">
      <thead>
        <tr>
          <td>Item</td>
          <td>Quantity</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itm of cartItems">
          <td>{{itm.name}}</td>
          <td>{{itm.quantity}}</td>
          <td>
            <button class="btn btn-primary" (click)="deleteItem(itm.name)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
